*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.chooser{
    height: 44px;
    width: 264px;
    background-color: rgb(23,27,33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* /* border-radius: 20px; */
    border:2px solid rgb(34,38,44);
    /* style for development */
    margin:20px;
    color:rgb(241,246,251);
}
.chooser .color{
    background-color: rgb(0,0,0,0);
    height:40px;
    width:37px;
    margin-left:4px;
    border:1px solid rgb(0,0,0,0);
    border-radius: 3px;
    padding:0;
}

.chooser .color:hover{
    border:3px solid rgb(69, 88, 192);
}
.chooser .value{
    margin-right:10px;
    /* /* font-size:0px;  */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.R,
.G,
.B{
    width:44px;
}
.B{
    /* margin-right: 10px; */
}